{% extends 'base.html' %}
{% load static %}
<!-- home.html -->

{% block title %}Minhas Piadas{% endblock %}

{% block content %}
    <img src="{% static 'img/logo.png' %}" alt="logo" class="w-120 h-70 mx-auto my-8">
    <h1 class="text-4xl mb-4">Piadas</h1>
    <div class="bg-gray-300 bg-opacity-50 rounded p-8 text-center mx-auto max-w-lg">
        {% if piada %}
            <h2 class="text-white">{{ piada }}</h2>
        {% elif error %}
            <p>{{ error }}</p>
        {% else %}
            <p>Nenhuma piada disponível no momento.</p>
        {% endif %}
    </div>
    <br>
    <a href="{% url 'piada:piada' %}" class="my-4">
        <button class="btn btn-info"><strong>Me conte outra</strong></button>   
    </a>
{% endblock %}