{% extends 'base.html' %}
{% load static %}
<!-- home.html -->

{% block title %}Minhas Piadas{% endblock %}

{% block content %}
    <style>
        @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-25px);
        }
        100% {
            transform: translatey(0px);
        }
        }

        .floating {
        animation: float 3s ease-in-out infinite;
        }
    </style>

    <img src="{% static 'img/logo.png' %}" alt="logo" class="w-120 h-70 mx-auto my-8 floating">
    <div class="bg-gray-300 bg-opacity-50 rounded p-8 text-center mx-auto max-w-xl">
        {% if piada %}
          <h2 class="text-white" id="piada-container"></h2>
          <script>
            const piadaText = "{{ piada }}";
            const piadaContainer = document.getElementById('piada-container');
            let index = 0;
      
            function typeWriter() {
              if (index < piadaText.length) {
                piadaContainer.innerHTML += piadaText.charAt(index);
                index++;
                setTimeout(typeWriter, 50);
              }
            }
      
            window.onload = typeWriter;
          </script>
        {% elif error %}
          <p class="text-danger">{{ error }}</p>
        {% endif %}
      </div>
    <br>
    <a href="{% url 'piada:piada' %}" class="my-4">
        <button class="btn btn-info"><strong>Me conte outra</strong></button>   
    </a>
{% endblock %}